@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.drawPageContainer {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: rgb(39, 39, 39);
  color: rgb(241, 241, 241);

  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: grid;
  grid-template-columns: 1080px auto;
  grid-template-rows: 70px 720px auto;

  user-select: none;
  -webkit-user-select: none;

  overflow: hidden;
}

#draw {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#canvas {
  width: 1080px;
  height: 720px;
  touch-action: none;
  background-color: white;
}

#info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 10px;
  background-color: rgb(39, 39, 39);
  border: 2px solid rgb(90, 89, 89);
  max-height: 100%;
  max-width: 600px;
}

#toolBar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

#toolBar div {
  border-radius: 0.5em;
  padding: 5px;
}

#toolBar section {
  display: flex;
  flex-direction: row;
  column-gap: 5px;

  align-items: flex-end;
}

#storyboard {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

button {
  padding: 10px;
  margin: 2px 5px;
  background-color: rgb(143, 143, 143);
  border: none;
  border-radius: 0.5em;
}

#tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 5px;
}

/* #toolsettings{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

#timeline {
  height: 160px;

  max-width: 90vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*  column-gap: 6px; */
  overflow-x: auto;
  scrollbar-width: thin;
}

.selected {
  background-color: darkgrey;
}

.slide {
  position: relative;
  height: 90%;
  border-radius: 0.5em;
  margin: 0.2em;
}

.activeSlide {
  outline: 6px solid rgb(93, 158, 255);
  background-color: rgb(93, 158, 255);
  z-index: 999;
}

.slide img {
  background-color: white;

  height: 90%;
  aspect-ratio: 3/2;
}

.slide .slide-delete-icon {
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  aspect-ratio: 1/1;

  cursor: pointer;
}

#colorSelector {
  height: 50px;
width: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}

#colorSelector::-webkit-color-swatch {
  border: 2px solid #ffffff;
}
#colorSelector::-moz-color-swatch {
  border: 2px solid #ffffff;
}

/* test */

#infoContainer input {
  width: 90%;
  color: antiquewhite;
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  background: none;
  margin-bottom: 1em;
}

#infoContainer label {
  display: block;
  font-size: 0.8em;
  color: antiquewhite;
}

#infoContainer .inputField {
  display: block;
  color: antiquewhite;
  background: none;
  width: 90%;
  aspect-ratio: 2/1;
  border: 1px solid white;
  border-radius: 0.5em;
  resize: none;
  overflow-y: auto;
  padding: 4px;
  margin-bottom: 1em;
}

.appNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}
